/* Pictos Font
* Copyright © 2010 Drew Wilson
* http://www.drewwilson.com  -  http://pictos.drewwilson.com
*
* The fonts included in this stylesheet are subject to the End User License you purchased
* from Drew Wilson. The fonts are protected under domestic and international trademark and 
* copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
* distributing this font software.
*
* This font is NOT free. It is illegal to use this font without paying for a license. 
*/

@font-face {
        font-family: 'Pictos';
        src: url('../fonts/pictos-web.eot');
        src: local('☺'), url('../fonts/pictos-web.woff') format('woff'), url('../fonts/pictos-web.ttf') format('truetype'), url('../fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
        font-weight: normal;
        font-style: normal;
}





/* End Pictos Font CSS */




.video5-container {
	position: relative;
	background-color: black;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default !important;
	overflow: hidden;
}

	.video5-container * {
		cursor: default !important;
		-webkit-font-smoothing: antialiased;
	}

	.videoHud {
		/* Set by JS */
		width: 512px;
		height: 288px;
		
		top: 0px;
		position: absolute;
		color: #aeaeae;

		background-image: -moz-radial-gradient(50% 50% 90deg, ellipse farthest-corner, rgba(0,0,0,0), rgba(0,0,0,0.6));
		background-image: -webkit-gradient(radial, center center, 0, center center, 250, from(transparent), to(rgba(0,0,0,0.6)));
		-webkit-background-size: 100% 100%;
	}
	
		.assistive-track-selector {
			min-width: 30%;
			float: right;
			z-index: 200;
		}

			.assistive-selector {
				position: relative;
				display: block;
				line-height: 15pt;
				font-size: 9pt;
				height: 18pt;
				font-family: sans-serif;
				margin: 4px !important;
				margin-right: 5px !important;
				background-color: rgba(0,0,0,0.8);
				border: solid #333 1px;
				border-top-color: #444;
				border-bottom-color: #2A2A2A;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;

				-webkit-box-shadow: rgba(0,0,0,0.36) 0px 2px 2px;
				-moz-box-shadow:	rgba(0,0,0,0.36) 0px 2px 2px;
				-o-box-shadow:		rgba(0,0,0,0.36) 0px 2px 2px;
				box-shadow:			rgba(0,0,0,0.36) 0px 2px 2px;
			}

			.assistive-selector:hover {
				border-color: #BBB;
				-webkit-box-shadow:	rgba(100,100,100,0.5) 0px 0px 1px 2px;
				-moz-box-shadow:	rgba(100,100,100,0.5) 0px 0px 1px 2px;
				-o-box-shadow:		rgba(100,100,100,0.5) 0px 0px 1px 2px;
				box-shadow:			rgba(100,100,100,0.5) 0px 0px 1px 2px;
			}

			.assistive-selector.focus {
				border-color: #333;
				-webkit-box-shadow:	rgb(134,188,235) 0px 0px 1px 2px;
				-moz-box-shadow:	rgb(134,188,235) 0px 0px 1px 2px;
				-o-box-shadow:		rgb(134,188,235) 0px 0px 1px 2px;
				box-shadow:			rgb(134,188,235) 0px 0px 1px 2px;
			}
				
				.assistive-selector select {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					opacity: 0;
					color: black !important;
				}

					.assistive-selector option {
						color: black !important;
					}

				.assistive-selector label {
					padding-left: 26pt;
					padding-right: 39.5pt;
					height: 18pt;
					line-height: 20pt !important;
					display: inline-block;
				}

					.assistive-selector label:before, .assistive-selector label:after {
						position: absolute;
						display: inline-block;
						top: 0px;
						left: 0px;
						width: 26pt !important;
						height: 18pt !important;
						line-height: 21pt;
						height: 18pt;
						font-size: 13pt;
						text-align: center;
						font-weight: normal;
						content: "q";
						text-shadow: #1e1e1e 0px 0px 5px;
						font-family: Pictos;
						overflow: hidden;
					}

					.assistive-selector label:after {
						font-family: sans-serif !important;
						font-size: 8pt;
						color: #444 !important;
						top: 0px;
						left: 100%;
						margin-left: -26.5pt;
						content: "\25bc";
						background-color: #1A1A1A;
						border-left: solid #333 1px;
						-webkit-border-top-right-radius: 3px;
						-moz-border-radius-topright: 3px;
						-o-border-top-right-radius: 3px;
						border-top-right-radius: 3px;
						-webkit-border-bottom-right-radius: 3px;
						-moz-border-radius-bottomright: 3px;
						-o-border-bottom-right-radius: 3px;
						border-bottom-right-radius: 3px;
					}

					.assistive-selector:hover label:after {
						border-left: solid #BBB 1px !important;
						background-color: #222;
					}

					.assistive-selector label:before {
						margin-right: -13pt;
						content: "q";
					}

					/* Custom Icons */

					.assistive-selector.chapter-selector label:before {
						content: "l";
					}

				.assistive-selector.on .state {
					color: lime;
				}

				.assistive-selector.off .state {
					color: red;
				}
	
	.playing .videoHud {
		-webkit-transition: opacity 500ms linear;
		-moz-transition: opacity 500ms linear;
		-o-transition: opacity 500ms linear;
		transition: opacity 500ms linear;
		opacity: 0;

		background-image: none !important;
	}
	
	.playing .videoHud:hover {
		opacity: 1;
	}

	.playing.controlsvisible .videoHud {
		opacity: 1 !important;
	}

	.playing:-webkit-full-screen .videoHud:hover {
		opacity: 0;
	}
	
		.videoHud * {
			color: #aeaeae;
			margin: 0px;
			padding: 0px;
		}
		
		.seekBar {
			width: 100%;
			
			position: absolute;
			height: 27px;
			bottom: 0px;
			
			background-color: #282828;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#141414)); 
			background-image: -webkit-linear-gradient(top, #282828, #141414); 
			background-image: -moz-linear-gradient(top, #282828, #141414); 
			background-image: -ms-linear-gradient(top, #282828, #141414); 
			background-image: -o-linear-gradient(top, #282828, #141414); 
			background-image: linear-gradient(top, #282828, #141414);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#282828', EndColorStr='#141414');
			
			border-bottom: solid #080808 1px;
			border-top: solid #4c4c4c 1px;
			
			-webkit-box-shadow: #2a2a2a 0px -1px 0px;
			-moz-box-shadow: #2a2a2a 0px -1px 0px;
			-o-box-shadow: #2a2a2a 0px -1px 0px;
			box-shadow: #2a2a2a 0px -1px 0px;
			
			color: #aeaeae;
			font-size: 7.5pt;
			font-family: Helvetica, Arial, sans-serif;
		}
		
			.seekBar > * {
				float: left;
			}
			
			.seekBar span, .seekBar summary {
				position: absolute;
				opacity: 0;
				text-indent: -1000px;
				overflow: hidden;
				width: 1px;
				height: 1px;
				margin-top: -10000px;
			}
			
			.seekBar button, .seekBar details, .seekBar .details {
				display: block;
				border: none;
				background-color: transparent;
				width: 35px;
				height: 27px;
				z-index: 10;
				
				/* fix superfat text rendering in webkit */
				text-shadow: #1e1e1e 0px 0px 5px;
				font-family: Pictos;
			}
			
			.seekBar button:focus, .seekBar button:hover,
			.seekBar details:focus, .seekBar details:hover,
			.seekBar .details:focus, .seekBar .details:hover {
				text-shadow: white 0px 0px 5px;
				color: white;
			}
			
			.seekBar button:active, .seekBar details:active,
			.seekBar .details:active {
				color: white;
				text-shadow: rgba(0,0,0,0.1) 0px 0px 5px;
			}

			/*--------This Part Crashes Chrome 12 (ARGH!)---------------------------------------------------------------------*/
			/* Where a details element is used. See: http://code.google.com/p/chromium/issues/detail?id=87207                 */
			/*----------------------------------------------------------------------------------------------------------------*/
			.seekBar button:before, .seekBar details:before, .seekBar .details:before {
				display: block;
				position: relative;
				width: 35px;
				height: 27px;
				line-height: 31px;
				font-size: 16pt;
				text-align: center;
				font-weight: normal;
				content: ".";
			}
			
			.seekBar button.play:before {
				content: "4";
			}
			
			.playing .seekBar button.play:before {
				content: "5";
			}
			
			.seekBar button.fullscreen:before {
				content: "`";
				font-size: 13pt;
				line-height: 28px;
			}
			
			.seekBar details:before, .seekBar .details:before {
				content: ">";
				font-size: 13pt;
				line-height: 28px;
			}
			/*----------------------------------------------------------------------------------------------------------------*/

			.seekBar input.bevelled {
				border: 0px !important;
				-webkit-appearance: none;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				-o-border-radius: 7px;
				border-radius: 7px;
				
				background-color: #212121;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#434242)); 
				background-image: -webkit-linear-gradient(top, #212121, #434242); 
				background-image: -moz-linear-gradient(top, #212121, #434242); 
				background-image: -ms-linear-gradient(top, #212121, #434242); 
				background-image: -o-linear-gradient(top, #212121, #434242); 
				background-image: linear-gradient(top, #212121, #434242);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#212121', EndColorStr='#434242');
				
				-webkit-box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px;
				-moz-box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px;
				-o-box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px;
				box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px;
				
				color: transparent;
				font-size: 1pt;
				text-indent: -10000px;
			}
			
			.seekBar input.bevelled:focus {
				-webkit-box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px, rgb(134,188,235) 0px 0px 1px 2px;
				-moz-box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px, rgb(134,188,235) 0px 0px 1px 2px;
				-o-box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px, rgb(134,188,235) 0px 0px 1px 2px;
				box-shadow: inset #141414 1px 1px 0px, inset #666666 0px -1px 0px, rgb(134,188,235) 0px 0px 1px 2px;
				
				outline: 0px !important;
			}
			
			.seekBar .loadprogress {
				display: block;
				position: absolute;
				width: 191.5px;
				height: 12px;
				margin-top: 7px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-o-border-radius: 6px;
				border-radius: 6px;
				overflow:hidden;
			}

				.seekBar .loadprogress canvas {
					-webkit-border-radius: 6px;
					-moz-border-radius: 6px;
					-o-border-radius: 6px;
					border-radius: 6px;
				}

			.seekBar .playprogress {
				display: block;
				height: 14px;
				width: 383px;
				margin-top: 6px;
			}
			
				.seekBar input::-webkit-slider-thumb {
					display: none;
					-webkit-appearance: none;
				}
				
				.thumb {
					display: block;
					position: absolute;
					margin-top: 1px;
					width: 10px;
					height: 10px;
					-webkit-border-radius: 6px;
					-moz-border-radius: 6px;
					-o-border-radius: 6px;
					border-radius: 6px;
					
					background-color: #dedcdc;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#dedcdc), to(#999595)); 
					background-image: -webkit-linear-gradient(top, #dedcdc, #999595); 
					background-image: -moz-linear-gradient(top, #dedcdc, #999595); 
					background-image: -ms-linear-gradient(top, #dedcdc, #999595); 
					background-image: -o-linear-gradient(top, #dedcdc, #999595); 
					background-image: linear-gradient(top, #dedcdc, #999595);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dedcdc', EndColorStr='#999595');
					
					border: solid rgba(113,110,110,0.9) 1px;
					
					-webkit-box-shadow: inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px 2px 2px;
					-moz-box-shadow:	inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px 2px 2px;
					-o-box-shadow:		inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px 2px 2px;
					box-shadow:			inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px 2px 2px;
					
					z-index:20;
				}

				.thumb.vertical {
					top: -21px;
					left: 9px;

					-webkit-box-shadow: inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px -2px 2px;
					-moz-box-shadow:	inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px -2px 2px;
					-o-box-shadow:		inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px -2px 2px;
					box-shadow:			inset rgba(255,255,255,0.4) 1px 1px 0px,
										rgba(0,0,0,0.36) 0px -2px 2px;
				}
				
			.seekBar label.elapsed {
				position: absolute;
				left: 36px;
				margin-top: 7px;
				height: 13px;
				line-height: 12px;
				width: 0px;
				
				background-color: rgba(0,0,0,0.5);
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				-o-border-radius: 7px;
				border-radius: 7px;
				text-align: right;
				overflow: hidden;
			}
			
				.seekBar label.elapsed time {
					padding-left: 5px;
					padding-right: 15px;
				}
			
			.seekBar label.remaining {
				display: block;
				height: 27px;
				line-height: 26px;
				padding-left: 6px;
				width: 25px;
			}
			
			.seekBar details, .seekBar .details {
				position: relative;
				width: 26px;
				height: 27px;
				overflow: hidden;
			}
			
				.seekBar details *, .seekBar .details * {
					opacity: 0;
				}
			
			.seekBar details.open, .seekBar .details.open, .seekBar .details.hover {
				overflow: visible !important;
			}
			
				.seekBar details.open *, .seekBar .details.open *, .seekBar .details.open, .seekBar .details.hover {
					opacity: 1 !important;
				}
			
				.seekBar details::-webkit-details-marker {
					-webkit-appearance: none;
					display: none;
				}
				
				.seekBar details input.volume, .seekBar .details input.volume {
					display: block;
					height: 14px;
					width: 70px;
					
					-webkit-transform-origin: 0px 0px;
					-webkit-transform: rotate(-90deg) translate(-75px,3px);
					-moz-transform-origin: 0px 0px;
					-moz-transform: rotate(-90deg) translate(-75px,3px);
					-o-transform-origin: 0px 0px;
					-o-transform: rotate(-90deg) translate(-75px,3px);
					transform-origin: 0px 0px;
					transform: rotate(-90deg) translate(-75px,3px);
					
					-webkit-appearance: none;
					-webkit-border-radius: 12px;
					-moz-border-radius: 12px;
					-o-border-radius: 12px;
					border-radius: 12px;
					
					-webkit-background-clip: padding-box;
					-moz-background-clip: padding-box;
					-o-background-clip: padding-box;
					background-clip: padding-box;
					
					-webkit-box-shadow: inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px;
					-moz-box-shadow:	inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px !important;
					-o-box-shadow:		inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px !important;
					box-shadow:			inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px !important;
					
					border: solid rgba(0,0,0,0.6) 5px !important;
				}
				
				.seekBar details input.volume:focus,
				.seekBar .details input.volume:focus {
					-webkit-box-shadow: inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px,
										rgb(134,188,235) 0px 0px 1px 2px !important;
					-moz-box-shadow:	inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px,
										rgb(134,188,235) 0px 0px 1px 2px !important;
					-o-box-shadow:		inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px,
										rgb(134,188,235) 0px 0px 1px 2px !important;
					box-shadow:			inset #141414 -1px -1px 0px,
										inset #666666 0px 1px 0px,
										rgb(134,188,235) 0px 0px 1px 2px !important;
					
					border: solid rgba(0,0,0,0.6) 3px !important;
					outline: none !important;
				}
				
				.seekBar details.open input.volume,
				.seekBar .details.open input.volume,
				.seekBar .details:hover input.volume {
					position: absolute;
					margin-top: -22px;
					margin-top: -107px;
					margin-left: 2px;
				}